<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.akuchen.trace.service.mapper.TraceLogMapper" >
  <resultMap id="BaseResultMap" type="com.akuchen.trace.service.entity.TraceLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="tid" property="tid" jdbcType="VARCHAR" />
    <result column="service_name" property="serviceName" jdbcType="VARCHAR" />
    <result column="thread_name" property="threadName" jdbcType="VARCHAR" />
    <result column="log_time" property="logTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.akuchen.trace.service.entity.TraceLog" extends="BaseResultMap" >
    <result column="log" property="log" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, tid, service_name, thread_name, log_time, create_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    log
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_trace_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_trace_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.akuchen.trace.service.entity.TraceLog" >
    insert into t_trace_log (id, tid, service_name, 
      thread_name, log_time, create_time, 
      update_time, log)
    values (#{id,jdbcType=BIGINT}, #{tid,jdbcType=VARCHAR}, #{serviceName,jdbcType=VARCHAR}, 
      #{threadName,jdbcType=VARCHAR}, #{logTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{log,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.akuchen.trace.service.entity.TraceLog" >
    insert into t_trace_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tid != null" >
        tid,
      </if>
      <if test="serviceName != null" >
        service_name,
      </if>
      <if test="threadName != null" >
        thread_name,
      </if>
      <if test="logTime != null" >
        log_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="log != null" >
        log,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=VARCHAR},
      </if>
      <if test="serviceName != null" >
        #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="threadName != null" >
        #{threadName,jdbcType=VARCHAR},
      </if>
      <if test="logTime != null" >
        #{logTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="log != null" >
        #{log,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.akuchen.trace.service.entity.TraceLog" >
    update t_trace_log
    <set >
      <if test="tid != null" >
        tid = #{tid,jdbcType=VARCHAR},
      </if>
      <if test="serviceName != null" >
        service_name = #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="threadName != null" >
        thread_name = #{threadName,jdbcType=VARCHAR},
      </if>
      <if test="logTime != null" >
        log_time = #{logTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="log != null" >
        log = #{log,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.akuchen.trace.service.entity.TraceLog" >
    update t_trace_log
    set tid = #{tid,jdbcType=VARCHAR},
      service_name = #{serviceName,jdbcType=VARCHAR},
      thread_name = #{threadName,jdbcType=VARCHAR},
      log_time = #{logTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      log = #{log,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.akuchen.trace.service.entity.TraceLog" >
    update t_trace_log
    set tid = #{tid,jdbcType=VARCHAR},
      service_name = #{serviceName,jdbcType=VARCHAR},
      thread_name = #{threadName,jdbcType=VARCHAR},
      log_time = #{logTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="selectByTid" resultMap="ResultMapWithBLOBs"  >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_trace_log
    where tid=#{tid,jdbcType=VARCHAR} and service_name=#{serviceName,jdbcType=VARCHAR} order by log_time asc
  </select>
</mapper>